body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #add8e6;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 20vh;
}
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
