body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cce7ff;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #ff4081;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#yesButton {
    background-color: #4CAF50;
    color: white;
}

#noButton {
    background-color: #f44336;
    color: white;
    position: absolute;
}

#calendarContainer {
    margin-top: 20px;
}

